.wrapper {
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: 50px;
    flex: 1 0 auto;
    background-attachment: fixed;
    background-repeat: no-repeat; 
    background: -webkit-gradient(linear, left top, left bottom, from(#0B1641), to(#C70160)) fixed;
    background: -moz-gradient(linear, left top, left bottom, from(#0B1641), to(#C70160)) fixed;
    background: -ms-gradient(linear, left top, left bottom, from(#0B1641), to(#C70160)) fixed;
    background: -o-gradient(linear, left top, left bottom, from(#0B1641), to(#C70160)) fixed;
    background: linear-gradient(45deg, #0B1641 0%, #C70160 100%);

    .content-wrapper {
        min-height: calc(100vh - 300px);

        .page-content {
            padding: 16px 8px;
        }
    }
}

@media screen and (min-width: 1024px) {
    .wrapper {
        .content-wrapper .page-content {
            padding: 16px 40px;
        }
    }
}

@media screen and (min-width: 1044px) {
    .wrapper {
        .content-wrapper .page-content{
            padding: 16px 130px;
        }
    }
}
