<div class="home">
    <div class="home-header">
        <h3 class="home-title">Ofertas</h3>
        <div class="home-filters">
            <form class="home-filters-search" [formGroup]="searchForm">
                <input class="form-control home-filters-search-input" type="text"
                  placeholder="Procurar" formControlName="gameText" />
                <i class="fas fa-search home-filters-search-input-icon"></i>
            </form>
            <div class="home-filters-select">
                
            </div>
        </div>
    </div>
    <div class="home-content">
        <div>

        </div>
    </div>
</div>