<footer class="footer">
  <div class="footer-container">
    <div class="footer-logo">
      <img src="../../../assets/images/small-logo.png" alt="Game Tracker" />
    </div>
    <div class="footer-text">
      <p>
        © 2021, Game Tracker Inc. Todos os direitos reservados. Nulla facilisi.
        Etiam sagittis congue tempor. Pellentesque habitant morbi tristique
        senectus et netus et malesuada fames ac turpis egestas. Suspendisse eu
        velit et ante luctus egestas. Aenean sed nisi tellus. Duis non ornare
        libero. Quisque suscipit maximus nisi, in gravida felis. Cras ornare
        mauris ac nisi congue, ut condimentum sem tincidunt. Phasellus semper
        tellus malesuada turpis gravida cursus. Duis nec eleifend nunc, vitae
        finibus elit. Aliquam eget diam vitae purus suscipit viverra.
      </p>
    </div>
    <div class="footer-links">
        <a href="#">Termos de Serviço</a>
        <a href="#">Política de Privacidade</a>
        <a href="#">Trabalhe conosco</a>
        <a href="#">Contato</a>
    </div>
  </div>
</footer>
