.footer {
    background-color: #0B1641;
    width: 100%;
    flex-shrink: 0;
    padding: 8px;

    .footer-logo {
        display: flex;
        justify-content: center;
        padding: 14px 0;
    }

    .footer-text {
        padding-bottom: 12px;
        p {
            font-size: 10px;
            font-weight: 300;
            text-align: center;
        }
    }

    .footer-links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 7px;

        a {
            font-size: 12px;
            text-decoration: none;
            font-weight: 700;
            color: #fff;
            padding-bottom: 8px;
        }
    }
}

@media screen and (min-width: 768px) {
    .footer {
        padding: 61px 130px;

        .footer-logo {
            padding-bottom: 32px;
            padding-top: 0;
        }

        .footer-text {
            p {
                text-align: start;
                font-size: 14px;
            }
        }

        .footer-links {
            flex-direction: row;
            justify-content: flex-start;

            a {
                margin-right: 46px;
            }
        }
    }
}