/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap');

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif !important;
    color: #fff !important;
    display: flex;
    flex-direction: column;
}


/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
